/* This is going to be used for any modified/custom styling */


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
  
    /* To see the limits of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  div + div {
    margin-top: 1em;
  }
  
  label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text field have the same font settings
       By default, textarea are set with a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text field */
    width: 300px;
  
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highligh on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text field with their label */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 5em;
  
    /* To allow users to resize any textarea vertically
       It works only on Chrome, Firefox and Safari */
    resize: vertical;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra magin represent the same space as the space between
       the labels and their text fields */
    margin-left: .5em;
  }
  /* checkout*/
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  /*automatic slideshow*/
  .mySlides {display:none;}
  /*about us pg*/
  #more {display: none;}

  /*Product pg slider*/
  .mi-slider {
    position: relative;
    margin-top: 30px;
    height: 490px;
}
 
.mi-slider ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 140px;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
}
 
.no-js .mi-slider ul {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 0;
    overflow: visible;
}
 
.mi-slider ul.mi-current {
    pointer-events: auto;
}
 
.mi-slider ul li {
    display: inline-block;
    padding: 20px;
    width: 20%;
    max-width: 300px;
    -webkit-transform: translateX(600%);
    transform: translateX(600%);
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
 
.no-js .mi-slider ul li {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
 
.mi-slider ul li a,
.mi-slider ul li img {
    display: block;
    margin: 0 auto;
}
 
.mi-slider ul li a {
    outline: none;
    cursor: pointer;
}
 
.mi-slider ul li img {
    max-width: 100%;
    border: none;
}
 
.mi-slider ul li h4 {
    display: inline-block;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 10px 0;
}
 
.mi-slider ul li:hover {
    opacity: 0.7;
} 
 
.mi-slider nav {
    position: relative;
    top: 400px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-top: 5px solid #333;
}
 
.no-js nav {
    display: none;
}
 
.mi-slider nav a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 40px 30px 30px 34px;
    position: relative;
    color: #888;
    outline: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
 
.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
    color: #000;
}
 
.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
    content: '';
    position: absolute;
    top: -5px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
 
.mi-slider nav a.mi-selected:after {
    border-color: transparent;
    border-top-color: #fff;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
 
.mi-slider nav a.mi-selected:before {
    border-color: transparent;
    border-top-color: #333;
    border-width: 27px;
    left: 50%;
    margin-left: -27px;
}
 
/* Move classes and animations */
 
.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
    -webkit-animation: scaleUp 350ms ease-in-out both;
    animation: scaleUp 350ms ease-in-out both;
}
 
@-webkit-keyframes scaleUp {
    0% { -webkit-transform: translateX(0) scale(0); }
    100% { -webkit-transform: translateX(0) scale(1); }
}
 
@keyframes scaleUp {
    0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
    100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}
 
.mi-slider ul:first-child li:first-child {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}
 
.mi-slider ul:first-child li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}
 
.mi-slider ul:first-child li:nth-child(3) {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}
 
.mi-slider ul:first-child li:nth-child(4) {
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}
 
/* moveFromRight */
 
.mi-slider ul.mi-moveFromRight li {
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
}
 
/* moveFromLeft */
 
.mi-slider ul.mi-moveFromLeft li {
    -webkit-animation: moveFromLeft 350ms ease-in-out both;
    animation: moveFromLeft 350ms ease-in-out both;
}
 
/* moveToRight */
 
.mi-slider ul.mi-moveToRight li {
    -webkit-animation: moveToRight 350ms ease-in-out both;
    animation: moveToRight 350ms ease-in-out both;
}
 
/* moveToLeft */
 
.mi-slider ul.mi-moveToLeft li {
    -webkit-animation: moveToLeft 350ms ease-in-out both;
    animation: moveToLeft 350ms ease-in-out both;
}
 
/* Animation Delays */
 
.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}
 
.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}
 
.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}
 
.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}
 
/* Animations */
 
@-webkit-keyframes moveFromRight {
    0% { -webkit-transform: translateX(600%); }
    100% { -webkit-transform: translateX(0%); }
}
 
@-webkit-keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-600%); }
    100% { -webkit-transform: translateX(0%); }
}
 
@-webkit-keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(600%); }
}
 
@-webkit-keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-600%); }
}
 
@keyframes moveFromRight {
    0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}
 
@keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}
 
@keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}
 
@keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}
 
.mi-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
/* Media Queries */
@media screen and (max-width: 910px){
    .mi-slider nav {
        max-width: 90%;
    }
    .mi-slider nav a {
        font-size: 12px;
        padding: 40px 10px 30px 14px;
    }
}
 
@media screen and (max-width: 740px){
    .mi-slider {
        height: 300px;
    }
    .mi-slider nav {
        top: 220px;
    }
}
 
@media screen and (max-width: 490px){
    .mi-slider {
        text-align: center;
        height: auto;
    }
 
    .mi-slider ul {
        position: relative;
        display: inline;
        bottom: auto;
        pointer-events: auto;
    }
 
    .mi-slider ul li {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        padding: 10px 3px;
        min-width: 140px;
    }
 
    .mi-slider nav {
        display: none;
    }
}
/*donnation pg*/
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*movement pg-- form*/
body {
  background-color: #D3E4ED;
  color: #333;
  display: flex;
  flex-direction: column;  
  font-size: 16px;
  min-width: 285px;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;  
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
header {
  background-image: url('https://nodeschool.io/bainbridge/img/BIFerry.jpg');
  background-position: center center;
  background-size: cover;
  height: 15em;
  opacity: .7; /* opacity to help smooth out jpeg artifacts */
  padding-top: 2.5em;
}
@media (max-width: 599px) {
  header {
    background-position: bottom center;
  }
}
.small {
  font-size: 14px;
}
a {
  color: #0277bd;
}
a:hover {
  text-decoration: underline;
}
h5 {
  font-size: 1.3em;
}
label {
  color: #333;
}
/* prevent input zoom on mobile */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
section {
  margin: 50px auto;
}
.hr-custom {
  border-top: solid 5px;
  max-width: 85%;
  margin: 40px auto 60px auto;
  text-align: center;
}
.hr-custom:after {
  background-color: #FFF;
  content: '\e8cd';
  font-family: 'Material Icons';
  font-size: 2.5em;
  padding: 0 .25em;
  position: relative;
  top: -.8em;
}
.survey-title {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: -11em;
  top: -12em;
}
@media (max-width: 599px) {
  .survey-title {
    margin-bottom: -8em;
    top: -9em;
  }
}
@media (max-width: 500px) {
  .survey-title {
    margin-bottom: -6em;
    top: -7em;
  }
}
.logo {
  margin-bottom: 0;
}
.form {
  background-color: white;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
  margin-bottom: 5em;
  width: 90%;
}
.radio-label {
  margin-bottom: .25em;
  padding-right: .7em;
}
@media (min-width: 401px) and (max-width: 499px) {
  .radio-label {
    padding-right: .3em;
  }
}
@media (max-width: 400px) {
  .radio-label {
    padding-right: 0;
  }
}
.radio-button {
  padding-top: .5em;
}
.day-label {
  font-size: .8em;
  font-weight: bold;
  height: 33px;
}
.time-label {
  font-size: .8em;
  font-weight: bold;
  margin-top: 1em;
}
.meetup-times .row {
  border-bottom: 1px solid #eee;
}
